*{ 
    margin: 0; /*marge externe */
    padding: 0; /*marge interne */
    box-sizing: border-box; /* indique qu'on inclu les marges internes et les bordures dans la taille du parent*/

}

a {
    text-decoration: none;
    color: black;

}
/*-------------------------------------------------------- HEADER -----------------------------------------------------*/

.headerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkMenu{
    display: flex;
    
}
ul li{
    list-style-type: none;
    padding: 15px; 
}

ul li a{
    font-size: 20px;

}
#headerLogo{
    width: 178px;
}
/*------------------------------------------------------- FIN HEADER --------------------------------------------------*/
.section1{
    display: flex;
    justify-content: space-around;
}
.coverUn{
    width: 100px;
}

.section2{
    display : flex;
    justify-content: space-around;
    margin-top: 5em;
}
.imagetry{
    width: 250px;
    height: 150px;
}

.section3{
    display : flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 2em;
}
.unArlongPark{
    width: 250px;
    height: 150px; 
    margin-top: 2em;
}
.deuxAlabasta{
    width: 250px;
    height: 150px; 
    margin-top: 2em;   
}
.troisWaterSeven{
    width: 250px;
    height: 150px; 
    margin-top: 2em;   
}
.quatreImpelDown{
    width: 250px;
    height: 150px;
    margin-top: 2em;
}
.cinqMarineFord{
    width: 250px;
    height: 150px;
    margin-top: 2em;
}
.sixPunkHazard{
    width: 250px;
    height: 150px;
    margin-top: 2em;
}
.septDressRosa{
    width: 250px;
    height: 150px;
    margin-top: 2em;
}
.huitWano{
    width: 250px;
    height: 150px;
    margin-top: 2em;
}

.section4{
    height: 250px;
    background-color: #3990b2;
}

.boxSection2{
    text-align: center;
}

.boxSection3{
    text-align: center;
}
.boxSection4{
    border: 1px solid black;
    margin: 5px;
    height: 100px;
    width: 100px;
    background-color: yellow;
}